.error-wrap {
  color: white;
  width: 30%;
  background-color: brown;
  padding: 10px;
  position: absolute;
  border-end-end-radius: 30px;
  opacity: .6;
}



.main {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.album-container {
  flex: 1 1 30%;
  background-color: aqua;
  margin: 10px;
}

.album-container:not(:last-child) {
  margin-left: 10px;
}

.album__contant {
  padding: 14px;

}
